.headerlstbtn{
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #212529;
}
.section_main{
    background-color: #232323;
    height: 725px;
}
.nav{
    margin-left: 100px;
}
.nav-link{
    color: #FFDE81;
}
.section_main_yellowthingy{
    box-sizing: border-box;
    position: absolute;
    width: 722px;
    height: 725px;
    left: 798px;
    top: 72px;
    background: #FFEBB4;
    border-radius: 30px 0px 0px 30px;
}
.section_main h1 {
    color: white;
    font-weight: bold;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 70px;
}
.section_main p{
    font-weight: lighter;
    color: white;
    font-size: 50px;
    padding-left: 70px;
}
.section_main svg{
    top: 450px;
    position: absolute;
}
.section_main button{
    width: 310px;
    height: 58px;
    font-size: 20px;
}
.img1{
    position: absolute;
    width: 739.79px;
    height: 489.5px;
    top: 150px;
    left: 44%;
}
.img2{
    position: absolute;
    width: 632.97px;
    height: 398.62px;
    top: 170px;
    left: 722px;
}
.img3{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 110px;
    left: 1340px;
}
.section_howitworks{
    background-color: #F8F7F3;
    padding-top: 50px;
    height: 5116px;
}
.section_howitworks h1{
    padding-left: 70px;
    font-size: 50px;
}
.howitworks_upper{
    display: flex;
    align-items: flex-start;
}
.howitworks_upper p{
    padding-left: 400px;
    font-size: 23px;
    font-weight: lighter;
}
.howitworks_upper img{
    position: absolute;
    top: 900px;
    height: 90.33px;
    width: 303px;
    z-index: 0;
    left: 135px;
}
.bluespan{
    color: blue;
    font-weight: bold;
    margin: 0px;
}
.request_card{
    position: relative;
    width: 1158px;
    height: 439px;
    border: 1.98px solid #232323;
    border-radius: 19.8px;
    background-color: #E6F2FF;
}
.img5{
    position: absolute;
    width: 1069.04px;
    top: 20px;
    left: 25px;
}
.howitworks_lower{
    display: flex;
    justify-content: center;
}